@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css2?family=Satisfy&display=swap);

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    body{
    background-image: url('skins/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    }
    .nav-area{
    background: #00000093;
    height: 62px;
    width: 100%;
    }
    .logo {
    line-height: 70px;
    padding: 0 40px;
    }
    .nav-area ul{
    float: right;
    margin-right: 20px;
    }
    .nav-area ul li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    }
    .nav-area ul li a {
    color: #fff;
    font-size: 14px;
    padding: 22px 15px;
    text-transform: uppercase;
    font-weight: bold;
    }
    .nav-area ul li a:hover{
    color: aqua;
    transition: .5s;
    }
    .btn-area{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 62px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    }
    #box{
    display: none;
    }
    @media (max-width: 860px){
    .btn-area{
    display: block;
    }
    .nav-area ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(0, 255, 213);
    top: 62px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    }
    .nav-area ul li {
    display: block;
    margin: 0;
    line-height: 30px;
    padding: 25px 0;
    }
    .nav-area ul li a{
    font-size: 30px;
    }
    .nav-area ul li:hover{
        background: rgba(0, 0, 0, 0.568);
    }
    .nav-area ul li a:hover{
        background: none;
    }
    #box:checked ~ ul{
    left: 0;
    }
    }
    b{
        position:fixed;
        width: 210px;
        height: 33px;
        top: 15px;

        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 33px;
        color: #59FFF5;
    }

    #_sarthak {
        position: absolute;
        top: 243px;
        left: 542px;
        width: 388px;
        height: 188px;
        overflow: hidden;
        font-family: Caveat;
        font-size: 80px;
        text-align: center;
        color:#FFFFFF;
    }
    
    
    #vector_1_ek1 {
        position: absolute;
        top: 354px;
        left: 433px;
        width: 614px;
        height: 13px;
    }
    
    
    #__life_s_a_climb__but_the_view_is_great___ek1 {
        position: absolute;
        top: 400px;
        left: 373px;
        width: 723px;
        height: 103px;
        overflow: hidden;
        font-family: 'Satisfy', 'cursive';
        font-size: 45px;
        text-align: center;
        color:#FFFFFF;
    }


    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.705);
        color: white;
        height: 30px;
     }

     #vector {
        position: relative;
        top: 0px;
        left: 10px;
        size: 29.63px;
        padding: auto;
    }

    #vector2 {
        position: relative;
        top: 0px;
        left: 1000px;
        size: 29.63px;
        padding: auto;
    }
    
    #contact_ek1 {
        top: 153px;
        left: 399px;
        width: 354px;
        height: 460px;
    }
    
    #rectangle_5 {
        opacity:0.75999999046326;
        top: 0px;
        left: -2px;
        width: 356px;
        height: 460px;
        background:rgba(0,0,0,0.76);
    }
    
    
    #_rectangle_9 {
        top: 382px;
        left: 108px;
        width: 138px;
        height: 38px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        -moz-border-radius: 24px;
        -webkit-border-radius: 24px;
        border-radius: 24px;
        background:rgba(89.25,255,245.06,1);
    }
    
    
    #submit {
        top: 392px;
        left: 134px;
        width: 97px;
        height: 36px;
        overflow: hidden;
        font-family: Roboto;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color:#000000;
    }
    
    
    #rectangle_7 {
        opacity:0.34999999403954;
        top: 221px;
        left: 27px;
        width: 300px;
        height: 142px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background:rgba(250.77,251.82,252.88,0.35);
    }
    
    
    #what_you_wanna_say__ {
        top: 237px;
        left: 38px;
        width: 200px;
        height: 26px;
        overflow: hidden;
        font-family: Roboto;
        font-size: 18px;
        text-align: center;
        color:#000000;
    }
    
    
    #rectangle_8 {
        opacity:0.34999999403954;
        top: 158px;
        left: 27px;
        width: 300px;
        height: 44px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background:rgba(250.77,251.82,252.88,0.35);
    }
    
    
    #email {
        top: 173px;
        left: 42px;
        width: 69px;
        height: 27px;
        overflow: hidden;
        font-family: Roboto;
        font-size: 18px;
        text-align: center;
        color:#000000;
    }
    
    
    #rectangle_6 {
        opacity:0.34999999403954;
        top: 92px;
        left: 27px;
        width: 300px;
        height: 44px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background:rgba(250.77,251.82,252.88,0.35);
    }
    
    
    #name {
        top: 108px;
        left: 42px;
        width: 77px;
        height: 27px;
        overflow: hidden;
        font-family: Roboto;
        font-size: 18px;
        text-align: center;
        color:#000000;
    }
    
    
    #contact_us {
        top: 20px;
        left: 59px;
        width: 245px;
        height: 75px;
        overflow: hidden;
        font-family: Saira;
        font-size: 36px;
        text-align: center;
        color:#59FFF5;
    }
    